/*p {
        height: auto;
        width: 200px;
        position: fixed;

position: relative;
background-color: pink;

}
.p1 {
    position: fixed;
    background-color: goldenrod;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.p2 {
    position: relative;
    background-color: goldenrod;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.p3 {
    position: relative;
    background-color: goldenrod;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.p4 {
    position: fixed;
    background-color: goldenrod;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}*/

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: blue;
}

ul li {
    padding: 5px;
    float: left;
    background-color: rgb(170, 200, 200);
    margin: 5px;
}

.pic {
    height: 300px;
    width: 300px;
}

.float_left {
    float: left;
}

.w50 {
    width: 50%;
    box-sizing: border-box;
}

.text {
    float: left;
}

.img1 {
    height: 300px;
    width: 300px;
}

.para {
    float: left;
}

ul li a {}